body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100vw;
    max-width: 100%;
    font-size: 14px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p, h1, h2, h3, h4, h5{
    margin: 0;
}
a {
    text-decoration: none;
}
a:visited {
    color: inherit;
}
a {
    color: inherit;
}
ul {
    margin: 0;
    padding: 0;
}

button {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
}

input {
   font-size: 14px;
}
input:focus, textarea:focus {
    outline: none;
}
textarea {
    font-size: 14px;
    resize: none;
}



.iframe-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.iframe-wrapper-hidden {
    display: none;
}
.iframe-close-icon {
    position: absolute;
    top: calc(50% - 260px);
    right: calc(50% - 360px);
    color: grey;
}
.iframe-close-icon:hover {
    color: red;
}
.iframe-wrapper iframe{
    width: 800px;
    height: 600px;
    border: none;
    box-shadow: 0 0 20px 0px rgb(0, 0, 0);
}





