.text-editor-wrapper {
    width: 100%;
    background-color: white;
    min-height: 1000px;
    padding: 10px 0;
}
.text-editor-title {
    width: calc(100% - 40px);
    padding: 10px 20px;
}
.text-editor-title textarea {
    width: calc(100% - 40px);
    padding: 8px 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 5px;
    border: solid 1px rgb(220, 220, 220);
}
.text-editor-title textarea:focus, .text-editor-title textarea:hover {
    border: solid 1px grey;
}
.text-editor-editor-wrapper {
    width: calc(100% - 40px);
    margin: 0 20px;
    height: auto;
    border-radius: 5px;
    overflow: hidden;
    border: solid 1px rgb(220, 220, 220);
}
.text-editor-editor-toolbox {
    width: 100%;
    height: 35px;
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 10px;
}
.text-editor-editor-toolbox-item {
    width: 20px;
    height: 20px;
    padding: 5px;
    position: relative;
    color: grey;
    border-radius: 5px;
}
.text-editor-editor-toolbox-item:hover {
    background-color: grey;
    color: white;
}
.text-editor-editor-toolbox-label-active {
    width: fit-content;
    display: block;
    position: absolute;
    color: white;
    background-color: black;
    padding: 5px 10px;
    font-size: 10px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: capitalize;
    left: 0;
    top: 110%;
}
.text-editor-editor-toolbox-label-inactive {
    display: none;
}
.text-editor-editor-wrapper textarea {
    width: calc(100% - 40px);
    min-height: 280px;
    border: none;
    padding: 20px;
}
.text-editor-editor-default-text{
    color: grey;
}
.text-editor-editor-wrapper:hover, .text-editor-editor-wrapper:focus-within {
    border: solid 1px grey;
}
.text-editor-button {
    width: calc(100% - 40px);
    padding: 10px 20px;
}
.text-editor-button button {
    color: white;
    width: 150px;
    height: 35px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.text-editor-button button:hover {
    opacity: 0.7;
}