.frontpage-wrapper {
    width: 100%;
    min-height: 1000px;
    background-color: rgb(219, 224, 229);
    padding-bottom: 100px;
}

.main-content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.main-content-wrapper-box {
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.posts-wrapper {
    width: 660px;
    margin: 0 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.infos-wrapper {
    width: 300px;
    height: auto;
}

