.account-setting-wrapper {
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.account-setting-headbar-backbone {
    width: 100vw;
    max-width: 100%;
    height: 50px;
    background-color: white;
    position: fixed;
    z-index: 9999;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.account-setting-headbar-wrapper {
    width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}
.account-setting-headbar-item {
    color: rgb(54, 121, 204);
    font-weight: bold;
    height: 100%;
    line-height: 50px;
    padding: 0 10px;
    cursor: pointer;
    transition: 0.3s;
}
.account-setting-headbar-item:hover {
    opacity: 0.7;
    transition: 0.3s;
}
.account-setting-headbar-item-active {
    border-bottom: 5px solid black;
    color: black;
    line-height: 55px;
}
.account-setting-headbar-item-active:hover {
    border-bottom: 5px solid rgb(54, 121, 204);
    color: rgb(54, 121, 204);
    transition: 0.3s;
}
.account-setting-headbar-logo {
}
.account-setting-content-wrapper {
    width: 1000px;
    min-height: 100vh;
    margin: 100px 0 20px 0;
}
.account-setting-section-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 20px 0;
}
.account-setting-section-title-active {
    cursor: pointer;
    text-transform: uppercase;
    color: rgb(54, 121, 204);
    font-size: 18px;
    font-weight: bold;
    transition: 0.5s;
}
.account-setting-section-title-inactive {
    cursor: pointer;
    text-transform: uppercase;
    color: rgba(0,0,0,0.3);
    font-size: 18px;
    font-weight: bold;
    transition: 0.5s;
}
.account-setting-section-title-icon-active {
    float: right;
    color: rgb(54, 121, 204);
    transform: rotate(90deg);
    transition: 0.5s;
}
.account-setting-section-title-icon-inactive {
    float: right;
    color: rgba(0,0,0,0.3);
    transition: 0.5s;
}
.post-entry-wrapper-active {
    width: calc(100% - 20px);
    margin: 10px 0;
    border: 2px solid #e17107;
    border-radius: 20px;
    padding: 10px 20px;
    transition: padding 0.5s, margin 0.5s;
    cursor: pointer;
}
.post-entry-wrapper-active:hover {
    background-color: rgba(225,113,7,0.1);
}
.post-entry-wrapper-inactive {
    width: calc(100% - 20px);
    overflow: hidden;
    margin: 0;
    border: none;
    height: 0;
    padding: 0;
    visibility: hidden;
    transition: padding 0.5s, margin 0.5s;
}
.post-entry-title {
    font-weight: bold;
    font-size: 14px;
}
.post-entry-info {
    color: rgba(0,0,0,0.5);
    font-size: 10px;
}
.post-entry-content {
    font-size: 12px;
}
.post-entry-wrapper-noentry-active {
    transition: 0.5s;
}
.post-entry-wrapper-noentry-inactive {
    visibility: hidden;
    height: 0;
    transition: 0.5s;
}